/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'), 
         url('../fonts/poppins-v19-latin-regular.woff') format('woff'), 
         url('../fonts/poppins-v19-latin-regular.ttf') format('truetype');
  }
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src:
       url('../fonts/poppins-v19-latin-500.woff2') format('woff2'), 
       url('../fonts/poppins-v19-latin-500.woff') format('woff'),
       url('../fonts/poppins-v19-latin-500.ttf') format('truetype');
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src:
       url('../fonts/poppins-v19-latin-600.woff2') format('woff2'), 
       url('../fonts/poppins-v19-latin-600.woff') format('woff'), 
       url('../fonts/poppins-v19-latin-600.ttf') format('truetype');
}

  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v29-latin-regular.woff') format('woff'), 
         url('../fonts/roboto-v29-latin-regular.ttf') format('truetype');
  }

  /* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: 
       url('../fonts/lora-v23-latin-regular.woff2') format('woff2'),
       url('../fonts/lora-v23-latin-regular.woff') format('woff'), 
       url('../fonts/lora-v23-latin-regular.ttf') format('truetype');
    }
/* lora-500 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: 
       url('../fonts/lora-v23-latin-500.woff2') format('woff2'), 
       url('../fonts/lora-v23-latin-500.woff') format('woff'), 
       url('../fonts/lora-v23-latin-500.ttf') format('truetype');
}

body {
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    background-color: rgba(30,37,43,255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: inline-block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1264px;
    padding: 0 20px;
    margin: 0 auto;
}

.nav {
    padding-top: 26px;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    gap: 44px;
    align-items: center;
}

.nav__link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
}

.nav__select {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
    height: 21px;
    background-color: rgba(30,37,43,255);
    border: none;
}

.login__link {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.78);
}

.sign__link {
    margin-left: 41px;
    padding: 12px 28px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FDF5FF;
    background-color: #FF6E30;
    border-radius: 8px;
    border: 1px solid #FF6E30 ;
}

/* Hero */

.hero__container {
    background-image: url('./../images/hero-background-img.png');
    background-size: auto;
    background-position: center right;
    background-repeat: no-repeat;
}

.hero__heading {
    padding-top: 104px;
    padding-bottom: 30px;
    width: 600px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.9); 
}

.hero__heading__span {
    color: #FF6E30;
}

.hero__info {
    padding-bottom: 60px;
    width: 487px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.hero__link {
    width: 497px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: Poppins;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.38);
    background-color: #283036;
    border-radius: 15px;
}

.hero__link:before {
    content: '';
    display: inline-block;
    padding-right: 13px;
    padding-left: 18px;
    background-image: url('./../images/search-img.svg');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero__link__btn {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 111px;
    padding: 12px 36px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF6E30;
    border-radius: 8px;
    border: 1px solid #FF6E30;
    cursor: pointer;
}

.hero__links {
    margin-top: 121px;
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Popular */

.popular {
    padding: 200px 0;
}

.popular__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popular__heading {
    font-family: Poppins;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

.popular__list__item {
    position: relative;
    padding: 33px;
}

.popular__info {

    text-align: center;
    width: 427px;
    padding-top: 25px;
    padding-bottom: 90px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.popular__list {
    display: flex;
    flex-wrap: wrap;
}

.popular__list__item {
    margin-top: 100px;
}

.popular__list__item:hover {
    transform: translateY(-10px);
    background: rgba(40, 48, 54, 0.6);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    transition: 0.3s;
    background: linear-gradient(45deg, rgba(40, 48, 54, 0.6) 80%,  rgba(84, 141, 97, 0.6) 100%);
}

.popular__list__item:hover .popular__block__link {
    background: #FF6E30;
    color: white;
    transition: 0.3s;
}

.popular__list__item:hover .popular__inner__text {
    color: #FFA537;
}


.popular__inner__title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.78);
}

.popular__block__link {
    margin-left: 112px;
}

.popular__outer {
    display: flex;
}

.popular__inner {
    margin-left: 40px;
}

.popular__inner__text {
    font-family: Poppins;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 165, 55, 0.55);
}

.popular__text {
    margin-top: 31px;
    margin-bottom: 30px;
    width: 326px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.popular__block {
    display: flex;
    align-items: center;
}

.popular__block__img {
    margin-right: 12px;
}

.popular__block__link {
    padding: 9px 35px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
    background: #1E252B;
    border-radius: 8px;
}

.heart:hover path{
    fill: #FD3B41;
}

.doc:hover path{
    fill: #00e8f8;
}

.along__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 184px;
    height: 64px;
    background-color:#1E252B;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.along__link:hover {
    background-color: #FF6E30;
    color:white;
    transition: 0.3s;
}

.along__link:active {
    background-color: #ff4d00;
    color:rgb(49, 40, 40);
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(16, 255, 8);
    border: 1px solid rgb(16, 255, 8);
    transition: 0.3s;
}

.btn:active {
    background-color: rgb(8, 218, 255);
    border: 1px solid rgb(8, 206, 255);
    transition: 0.3s;
}

/* trused section */

.trus__container{
    border-radius: 25px;
    background: linear-gradient(-45deg, rgba(40, 48, 54, 0.6) 80%,  rgba(84, 141, 97, 0.6) 100%);
}

.trus__title {
text-align: center;
  padding: 55px 0;
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
}

.trus__iamges{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 107px;
    padding-bottom: 55px;
}

.trust__svg:hover path{
    fill:  #ffee00;
}

.trust__svg:active path{
    fill:  #000000;
}

/* Newcomer */

.newcomer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newcomer__list {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 197px;
}

.newcomer__inner__title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.9);
}

.newcomer__inner__info {
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.newcomer__inner__link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 16px 40px;
    border-radius: 8px;
    background-color: rgb(112, 100, 100);
}

.newcomer__text {
    width: 245px;
}

.newcomer__block__link {
    margin: 0;
    margin-left: 43px;
}

/* quote */

.quote__container {
    position: relative;
    margin-top: 200px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.qu {
    position: absolute;
    left: 600px;
    top: 111px;
}

.quote__images {
    position: relative;
    display: flex;
    align-items: center;
}

.quot__block {
    left: 296px;
    top: 379px;
    position: absolute;
    background: rgba(40, 48, 54, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 8px;
    background: linear-gradient(135deg, rgba(40, 48, 54, 0.6) 85%,  rgba(0, 204, 255, 0.1) 100%);
}

.quote__images::before {
    content: '';
    background:url('./../images/Vector.svg');
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 43px;
    height: 23px;
    display: inline-block;
    margin-right: 141px;
}

.quote__info::after {
    content: '';
    background:url('./../images/Vector.svg');
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100px;
    height: 23px;
    display: block;
    margin-left: 143px;
    /* margin-right: 33px; */
    transform: rotate(180deg);
}

.quot__block__name {
    padding: 0 23px;
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.015em;
    color: rgba(255, 253, 253, 0.78);
}

.quote__block__title {
    padding: 0 23px;
    margin-bottom: 16px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 253, 253, 0.55);
}

.quote__info {
    margin-left: 65px;
    display: flex;
    align-items: center;
    width: 549px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.015em;
    color: rgba(255, 255, 255, 0.78);
}

.span__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.span {
    margin-top: 100px;
    gap: 18px;
}

.quote__span {
    display: inline-block;
    height: 8px;
    width: 44px;
    background: #283036;
    border-radius: 4px;
}

.quote__span:hover {
    background: #FF6E30;
    transition: 0.3s;
    cursor: pointer;
}